## H1: Data Science Tools and Ecosystems

# In this notebook, data science tools and ecosystems are summarized

## **Objectives**
#### *Creating an ordered list
#### *Creating tables
#### *Simple arithmetic calculations
#### *Converting times

### Some of the popular data science languages are:

#### *Python
#### *R
#### *Java
#### *C++

## Some of the libraries commonly used by data scientists incude:
#### *ggplot
#### *plotly
#### *numpy
#### *matplotlib

|Data Science Tools|
|------------------|
|Github|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Shameza David